.reg_time {
	display: none;
}
.form {
	padding-top: 20px;
	padding-bottom: 15px;
}
.form p {
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 25px;
	font-size: 18px;
}
.form p input[type=text] {
	width: 55%;
	height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}
button {
	width: 70px;
}